* {
  box-sizing: border-box;
  font-size: 100%;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

h1, h2, h2 {
  line-height: 1.1;
  margin-top: 0;
}

p {
  margin-top: 0;
}

a, a:visited, a:active {
  color: unset;
  text-decoration: none;
}

:root {
  --ideal-viewport-width: 1920;
  --ideal-viewport-height: 1080;
  --max-viewport: 3840px;
  --min-viewport: 350px;
  --aspect-ratio: calc(9/16 *100vw);
  --border-radius: 1.563rem;
  --top-bttom-padding: 0.875rem;
  --left-right-navigation-button-padding: 1.25rem;
  --standard-left-right-padding: 3.35rem;
  --email-btn-left-right-padding: 3rem;
  --transparent-button-border: 0.063rem solid var(--btn-border-gray);
  --list-bullet-border: 0.125rem solid var(--list-bullet-border-color);
  --btn-white-text-color: #d32721;
  --white-text:#ffffff;
  --small-text-color: #a7acbc;
  --standard-paragraph-color: #5e6372;
  --list-bullet-color: #1d2f5e;
  --gradient-text-color: linear-gradient(15deg, #cb0035 0%, #e06900 100%);
  --gray-background: #f6f6f6;
  --background-gradient: linear-gradient(39deg, #cb0036 0%, #e06800 100%);
  --btn-blue-color: #264699;
  --signup-input-background-color: #ffffff15;
  --list-bullet-border-color: #c7cde0;
  --btn-border-gray: #ffffff4f;
  --small-font-size: 0.75rem;
  --regular-font-size: 1rem;
  --larger-font-size: 1.5rem;
  --main-title-font-size: 3rem;
}

.nav {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.nav__logo {
  width: 11.125rem;
  height: 1.5rem;
  margin-left: calc( 299 * (clamp(var(--min-viewport), 100vw, var(--max-viewport)) / var(--ideal-viewport-width)) );
  margin-top: calc( 53 * (clamp(var(--min-viewport), var(--aspect-ratio), var(--max-viewport)) / var(--ideal-viewport-height)) );
}
.nav__menu {
  display: flex;
  margin-right: calc( 282 * (clamp(var(--min-viewport), 100vw, var(--max-viewport)) / var(--ideal-viewport-width)) );
  margin-top: calc( 57 * (clamp(var(--min-viewport), var(--aspect-ratio), var(--max-viewport)) / var(--ideal-viewport-height)) );
}
.nav__list {
  list-style: none;
  display: flex;
  align-items: center;
}
.nav__link {
  padding-right: 1.5rem;
  text-align: center;
  display: flex;
  color: var(--white-text);
}
.nav__button {
  border: var(--transparent-button-border);
  background-color: transparent;
  color: var(--white-text);
  padding: var(--top-bttom-padding) var(--standard-left-right-padding);
  align-self: center;
  padding: 0 var(--left-right-navigation-button-padding);
  height: 2.5rem;
}

@media only screen and (max-width: 1200px) {
  .nav__logo {
    margin-left: calc( 149 * (clamp(var(--min-viewport), 100vw, var(--max-viewport)) / var(--ideal-viewport-width)) );
  }
  .nav__menu {
    margin-right: calc( 141 * (clamp(var(--min-viewport), 100vw, var(--max-viewport)) / var(--ideal-viewport-width)) );
  }
}
.header {
  position: relative;
  background-image: var(--background-gradient);
}
.header__img {
  position: absolute;
  width: 100%;
  bottom: 0;
  opacity: 0.6;
  z-index: 0;
}
.header__wrapper {
  z-index: 10;
  width: inherit;
  height: inherit;
  padding-top: calc( 270 * (clamp(var(--min-viewport), var(--aspect-ratio), var(--max-viewport)) / var(--ideal-viewport-height)) );
}
.header__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__title {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: var(--main-title-font-size);
  line-height: normal;
  color: var(--white-text);
  z-index: 1;
  margin-bottom: 1.375rem;
}
.header__paragraph {
  max-width: 35rem;
  color: var(--white-text);
  line-height: 1.875rem;
  z-index: 1;
  margin-bottom: 3.875rem;
  text-align: center;
}
.header__options {
  width: 26.25rem;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}
.header__icon {
  padding-right: 1.25rem;
}
.header__btn-ask {
  background-color: var(--white-text);
  color: var(--btn-white-text-color);
  border: none;
  padding: var(--top-bttom-padding) var(--standard-left-right-padding);
  z-index: 1;
  padding-left: 0;
  padding-right: 0;
  width: 50%;
}
.header__btn-watch {
  border: var(--transparent-button-border);
  background-color: transparent;
  color: var(--white-text);
  padding: var(--top-bttom-padding) var(--standard-left-right-padding);
  width: 45%;
  padding-left: 0;
  padding-right: 0;
  z-index: 1;
}

.icons-section {
  height: calc( 600 * (clamp(var(--min-viewport), var(--aspect-ratio), var(--max-viewport)) / var(--ideal-viewport-height)) );
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: calc( 340 * (clamp(var(--min-viewport), 100vw, var(--max-viewport)) / var(--ideal-viewport-width)) );
  padding-right: calc( 340 * (clamp(var(--min-viewport), 100vw, var(--max-viewport)) / var(--ideal-viewport-width)) );
  background-color: var(--gray-background);
}
.icons-section__container {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  align-content: center;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  margin-bottom: 6.5rem;
}
.icons-section__sticker {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  justify-content: space-between;
  width: 15.125rem;
  height: 14.375rem;
}
.icons-section__icon-box {
  width: 6.875rem;
  height: 6.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: baseline;
}
.icons-section__description {
  display: flex;
  flex-direction: column;
  align-content: center;
}
.icons-section__header {
  background: var(--gradient-text-color);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  align-self: center;
  font-size: var(--larger-font-size);
  padding-bottom: 1.5rem;
}
.icons-section__paragraph {
  text-align: center;
  color: var(--standard-paragraph-color);
  line-height: 1.47rem;
}
.icons-section__button {
  background-color: var(--btn-blue-color);
  color: var(--white-text);
  border: none;
  padding: var(--top-bttom-padding) var(--standard-left-right-padding);
}

.info {
  height: calc( 868 * (clamp(var(--min-viewport), var(--aspect-ratio), var(--max-viewport)) / var(--ideal-viewport-height)) );
  background-image: url("../../png/big-drone.png");
  background-size: 50%;
  background-position: right;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: calc( 300 * (clamp(var(--min-viewport), 100vw, var(--max-viewport)) / var(--ideal-viewport-width)) );
}
.info__header {
  background: var(--gradient-text-color);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: var(--main-title-font-size);
  margin-bottom: 2rem;
}
.info__paragraph {
  color: var(--standard-paragraph-color);
  max-width: 48.5rem;
  line-height: 2.25rem;
}
.info__list {
  width: 60rem;
  height: 21.875rem;
  margin-top: 3.75rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.info__list-element {
  color: var(--small-text-color);
  display: flex;
  margin-bottom: 3em;
  max-width: 23.375rem;
  counter-increment: listCounter;
  align-items: center;
  font-size: var(--small-font-size);
  line-height: 1.5rem;
}
.info__list-element::before {
  content: counter(listCounter);
  font-size: var(--larger-font-size);
  border: var(--list-bullet-border);
  color: var(--list-bullet-color);
  border-radius: 50%;
  width: 3.125rem;
  height: 3.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  flex-shrink: 0;
  margin-right: 1.875rem;
}

.grid {
  height: -moz-fit-content;
  height: fit-content;
  width: inherit;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--gray-background);
}
.grid__img {
  width: 100%;
}
.grid__info-bottom {
  margin-right: 6.875rem;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.grid__info-top {
  margin-left: 6.875rem;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.grid__header {
  background: var(--gradient-text-color);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: var(--main-title-font-size);
  line-height: normal;
  padding-bottom: 1.5rem;
}
.grid__paragraph {
  line-height: 2.25rem;
  max-width: 35rem;
  color: var(--standard-paragraph-color);
  text-align: left;
  padding-bottom: 3.75rem;
}
.grid__button {
  background-color: var(--btn-blue-color);
  color: var(--white-text);
  border: none;
  padding: var(--top-bttom-padding) var(--standard-left-right-padding);
  width: -moz-fit-content;
  width: fit-content;
}

.sign-up {
  width: inherit;
  height: calc( 485 * (clamp(var(--min-viewport), var(--aspect-ratio), var(--max-viewport)) / var(--ideal-viewport-height)) );
  background-image: var(--background-gradient);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sign-up__img {
  opacity: 0.2;
  z-index: 0;
  width: 100%;
  position: absolute;
}
.sign-up__header {
  position: relative;
  z-index: 1;
  font-size: var(--main-title-font-size);
  color: var(--white-text);
  z-index: 100;
  margin-bottom: 2.625rem;
}
.sign-up__form {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}
.sign-up__input {
  height: 100%;
  color: var(--white-text);
  border: var(--transparent-button-border);
  background-color: var(--signup-input-background-color);
  padding-left: 1.25rem;
  padding-right: 3.625rem;
  border-radius: var(--border-radius);
  outline: none;
}
.sign-up__button {
  background-color: var(--white-text);
  color: var(--btn-white-text-color);
  border: none;
  padding: var(--top-bttom-padding) var(--standard-left-right-padding);
  height: 100%;
  float: right;
  position: relative;
  left: -3rem;
  padding: var(--top-bttom-padding) var(--email-btn-left-right-padding);
}
.sign-up__input::-moz-placeholder {
  color: var(--white-text);
  opacity: 0.8;
}
.sign-up__input::placeholder {
  color: var(--white-text);
  opacity: 0.8;
}

.map {
  width: inherit;
  height: calc( 607 * (clamp(var(--min-viewport), var(--aspect-ratio), var(--max-viewport)) / var(--ideal-viewport-height)) );
}
.map__img {
  width: 100%;
}

.body {
  display: flex;
  flex-direction: column;
  height: -moz-fit-content;
  height: fit-content;
}

.header {
  height: calc( 1080 * (clamp(var(--min-viewport), var(--aspect-ratio), var(--max-viewport)) / var(--ideal-viewport-height)) );
  max-width: var(--ideal-viewport-width) px;
}

.main {
  max-width: var(--ideal-viewport-width) px;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.footer {
  max-width: var(--ideal-viewport-width) px;
  height: calc( 350 * (clamp(var(--min-viewport), var(--aspect-ratio), var(--max-viewport)) / var(--ideal-viewport-height)) );
}

.footer {
  color: var(--small-text-color);
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: var(--small-font-size);
  line-height: 1.5rem;
  padding-top: 3.125rem;
}
.footer__link {
  font-weight: bold;
}

.button {
  font-family: inherit;
  border-radius: var(--border-radius);
}/*# sourceMappingURL=style.css.map */