* {
  box-sizing: border-box;
  font-size: 100%;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

h1, h2, h2 {
  line-height: 1.1;
  margin-top: 0;
}

p {
  margin-top: 0;
}

a, a:visited, a:active {
  color: unset;
  text-decoration: none;
}

:root {
  --ideal-viewport-width: 1920;
  --ideal-viewport-height: 1080;
  --aspect-ratio: calc(9/16 *100vw);
}

:root {
  --logo-left: 18.688;
  --menu-right: 18.938;
}

.nav {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.nav__logo {
  width: 11.125rem;
  height: 1.5rem;
  margin-left: calc( 299 * (clamp(350px, 100vw, 3840px) / var(--ideal-viewport-width)) );
  margin-top: calc( 53 * (clamp(350px, var(--aspect-ratio), 3840px) / var(--ideal-viewport-height)) );
}
.nav__menu {
  display: flex;
  margin-right: calc( 282 * (clamp(350px, 100vw, 3840px) / var(--ideal-viewport-width)) );
  margin-top: calc( 57 * (clamp(350px, var(--aspect-ratio), 3840px) / var(--ideal-viewport-height)) );
}
.nav__list {
  list-style: none;
  display: flex;
  align-items: center;
}
.nav__link {
  padding-right: 1.5rem;
  text-align: center;
  display: flex;
}
.nav__button {
  border: 0.063rem solid rgba(255, 255, 255, 0.31);
  background-color: transparent;
  color: white;
  padding-left: unset;
  padding-right: unset;
  align-self: center;
}

.header {
  box-sizing: border-box;
  background-image: linear-gradient(39deg, #cb0036 0%, #e06800 100%);
  background-blend-mode: darken;
  display: flex;
  width: 100%;
}
.header__wrapper {
  background-image: url("../../png/Layer_4_copy.png");
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  width: inherit;
  height: inherit;
  padding-top: calc( 304 * (clamp(350px, var(--aspect-ratio), 3840px) / var(--ideal-viewport-height)) );
}
.header__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__title {
  width: -moz-fit-content;
  width: fit-content;
}
.header__paragraph {
  max-width: 480px;
}
.header__options {
  width: -moz-fit-content;
  width: fit-content;
}
.header__btn-ask {
  background-color: white;
  color: #d32721;
  border: none;
}
.header__btn-watch {
  border: 0.063rem solid rgba(255, 255, 255, 0.31);
  background-color: transparent;
  color: white;
  padding-left: unset;
  padding-right: unset;
  padding-left: 0;
  padding-right: 0;
}

.icons-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-left: calc( 340 * (clamp(350px, 100vw, 3840px) / var(--ideal-viewport-width)) );
  padding-right: calc( 340 * (clamp(350px, 100vw, 3840px) / var(--ideal-viewport-width)) );
  padding-bottom: calc( 100 * (clamp(350px, var(--aspect-ratio), 3840px) / var(--ideal-viewport-height)) );
  background-color: #f6f6f6;
}
.icons-section__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 104px;
}
.icons-section__sticker {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  justify-content: space-between;
  width: 242px;
  height: 230px;
}
.icons-section__icon-box {
  width: 110px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: baseline;
}
.icons-section__header {
  width: inherit;
  text-align: center;
  font-size: 1.469rem;
  padding-bottom: 24px;
  background: linear-gradient(15deg, #cb0035 0%, #e06900 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.icons-section__paragraph {
  text-align: center;
  /* font-size: 0.785rem; */
  line-height: 1.47rem;
}
.icons-section__button {
  background-color: #264699;
  color: #ffffff;
  border: none;
}

.info {
  background-image: url("../../png/big-drone.png");
  background-size: 50%;
  background-position: right;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-position: right; */
  /* background-size:contain; */
  padding-left: 299px;
}
.info__header {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 48px;
  margin-bottom: 32px;
  background: linear-gradient(15deg, #cb0035 0%, #e06900 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.info__paragraph {
  max-width: 776px;
  line-height: 36px;
}
.info__list {
  width: 958px;
  height: 350px;
  margin-top: 61px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.info__list-element {
  display: flex;
  margin-bottom: 3em;
  max-width: 374px;
  counter-increment: listCounter;
  align-items: center;
  font-size: 12px;
}
.info__list-element::before {
  content: counter(listCounter);
  font-size: 24px;
  border: 2px solid #c7cde0;
  color: #1d2f5e;
  border-radius: 50%;
  width: 3.125rem;
  height: 3.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  flex-shrink: 0;
  margin-right: 30px;
}

.grid {
  background-color: #f6f6f6;
}
.grid__img {
  width: 100%;
}
.grid__info-bottom {
  margin-right: 110px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.grid__info-top {
  margin-left: 110px;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.grid__header {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 48px;
  line-height: normal;
  background: linear-gradient(15deg, #cb0035 0%, #e06900 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  padding-bottom: 24px;
}
.grid__paragraph {
  line-height: 36px;
  max-width: 559px;
  color: #5e6372;
  text-align: left;
  padding-bottom: 60px;
}
.grid__button {
  width: -moz-fit-content;
  width: fit-content;
  background-color: #264699;
  color: #ffffff;
  border: none;
}

.body {
  display: flex;
  flex-direction: column;
  height: -moz-fit-content;
  height: fit-content;
}

.header {
  max-width: var(--ideal-viewport-width) px;
  height: calc( 1080 * (clamp(350px, var(--aspect-ratio), 3840px) / var(--ideal-viewport-height)) );
}

.main {
  max-width: var(--ideal-viewport-width) px;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.footer {
  max-width: var(--ideal-viewport-width) px;
  height: -moz-fit-content;
  height: fit-content;
}

.icons-section {
  height: calc( 598 * (clamp(350px, var(--aspect-ratio), 3840px) / var(--ideal-viewport-height)) );
  width: inherit;
}

.info {
  height: calc( 868 * (clamp(350px, var(--aspect-ratio), 3840px) / var(--ideal-viewport-height)) );
}

.grid {
  height: -moz-fit-content;
  height: fit-content;
  width: inherit;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: inherit inherit;
}

.sign-up {
  width: inherit;
  height: calc( 489 * (clamp(350px, var(--aspect-ratio), 3840px) / var(--ideal-viewport-height)) );
}

.map {
  width: inherit;
  height: calc( 607 * (clamp(350px, var(--aspect-ratio), 3840px) / var(--ideal-viewport-height)) );
}

.button {
  font-family: inherit;
  font-size: inherit;
  border-radius: 1.563rem;
  padding: 0.5rem 3.375rem;
}/*# sourceMappingURL=style.css.map */