:root {
//main display sizing:
    --ideal-viewport-width: 1920;
    --ideal-viewport-height: 1080;
    --max-viewport: 3840px;
    --min-viewport: 350px;
    --aspect-ratio: calc(9/16 *100vw);

//border measurements:
    --border-radius: 1.563rem;
    --top-bttom-padding: 0.875rem;
    --left-right-navigation-button-padding: 1.25rem;
    --standard-left-right-padding: 3.35rem;
    --email-btn-left-right-padding: 3rem;
    --transparent-button-border: 0.063rem solid var(--btn-border-gray);

//list measurements:
    --list-bullet-border: 0.125rem solid var(--list-bullet-border-color);
 
//text colors:
    --btn-white-text-color: #d32721;
    --white-text:#ffffff;
    --small-text-color: #a7acbc;
    --standard-paragraph-color: #5e6372;
    --list-bullet-color: #1d2f5e;
    --gradient-text-color: linear-gradient(15deg, #cb0035 0%, #e06900 100%);

//background colors:
    --gray-background: #f6f6f6;
    --background-gradient: linear-gradient(39deg, #cb0036 0%, #e06800 100%);
    --btn-blue-color: #264699;
    --signup-input-background-color: #ffffff15;
    
//border colours:
    --list-bullet-border-color: #c7cde0;
    --btn-border-gray: #ffffff4f;

//font sizes:
    --small-font-size: 0.75rem;
    --regular-font-size: 1rem;
    --larger-font-size: 1.5rem;
    --main-title-font-size: 3rem;
}