@use '../abstracts' as a;
@use './functions' as *;

.header {
    box-sizing: border-box;
    background-image: linear-gradient(39deg, #cb0036 0%, #e06800 100%);
    background-blend-mode:darken;
    display: flex;
    width: 100%;

    &__wrapper{

        $ideal-headerwrapper-padding-top: 304;

        background-image: url('../../png/Layer_4_copy.png');
        background-size: 100%;
        background-position: bottom;
        background-repeat: no-repeat;
        width: inherit;
        height: inherit;
        box-sizing: border-box;
        padding-top: #{scaleHeight($ideal-headerwrapper-padding-top)};
    }

    &__info {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
    }
    
    &__title {
        width: fit-content;
    }

    &__paragraph {
        max-width: 480px;
    }

    &__options {
        width: fit-content;
    }

    &__btn-ask {
        @include a.btn-white
    }

    &__btn-watch {
        @include a.btn-transparent;
    }
}