@use '../abstracts';
@use './functions' as *;

.icons-section {

    $iconssection-ideal-sidepadding: 340;
    $ideal-icons-section-height: 600;
    $ideal-icons-section-paddingbottom: 100;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-left: #{scaleWidth($iconssection-ideal-sidepadding)};
    padding-right: #{scaleWidth($iconssection-ideal-sidepadding)};
    padding-bottom: #{scaleHeight($ideal-icons-section-paddingbottom)};
    background-color: var(--gray-background);

    &__container {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;
        margin-bottom: 6.5rem;
    }

    &__sticker {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        justify-content: space-between;
        width: 242px;
        height: 230px;
    }

    &__icon-box {
        width: 110px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-self: baseline;
    }

    &__description {
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    &__header {
        align-self: center;
        font-size: 1.469rem;
        padding-bottom: 24px;
       @include abstracts.gradient-text;
    }

    &__paragraph {
        text-align: center;
        color: var( --standard-paragraph-color);
        /* font-size: 0.785rem; */
        line-height: 1.47rem;
    }

    &__button {
        @include abstracts.btn-blue;
    }
}


 .info {

    $ideal-info-padding-left: 300;

    background-image: url('../../png/big-drone.png');
    background-size: 50%;
    background-position: right;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content:center;
    padding-left: #{scaleWidth($ideal-info-padding-left)};

    &__header {
        @include abstracts.gradient-text;
        font-size: var(--main-title-font-size);
        margin-bottom: 32px;
    }

    &__paragraph {
        color: var( --standard-paragraph-color);
        max-width: 776px;
        line-height: 36px;
    }

    &__list{
        width: 958px;
        height: 350px;
        margin-top: 61px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    &__list-element {
        color: var(--small-text-color);
        display: flex;
        margin-bottom: 3em;
        max-width: 374px;
        counter-increment: listCounter;
        align-items: center;
        font-size: 12px;
        line-height: 24px;
    }

    &__list-element::before {

        $bullet-square-size: 3.125rem;

        content: counter(listCounter);
        font-size: 24px;
        border: var(--list-bullet-border);
        color: var(--list-bullet-color);
        border-radius: 50%;
        width: $bullet-square-size;
        height: $bullet-square-size;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 1.0;
        flex-shrink: 0;
        margin-right: 30px;
    }
} 

.grid {

    $grid-info-side-margin: 110px;

    background-color: var(--gray-background);

    &__img {
        width: 100%;
    }

    &__info-bottom{
        margin-right: $grid-info-side-margin;
        margin-left: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__info-top{
        margin-left: $grid-info-side-margin;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__header {
        
        @include abstracts.gradient-text;
        font-size: var(--main-title-font-size);
        line-height:normal;
        padding-bottom: 24px;
    }

    &__paragraph {
        line-height: 36px;
        max-width: 559px;
        color: var(--standard-paragraph-color);
        text-align: left;
        padding-bottom: 60px;
    }

    &__button {
        width: fit-content;
        @include abstracts.btn-blue;
    }
}

.sign-up {

    $email-cover-radius-offset: 3rem;
        
    background-image: var(--background-gradient);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__img {
        
        opacity: 0.2;
        z-index: 0;
        width: 100%;
        position: absolute;   
    }

    &__header {
        position: relative;
        z-index: 1;
        font-size: var(--main-title-font-size);
        color: var(--white-text);
        z-index: 100;
        margin-bottom: 42px;
    }

    &__form {
        position: relative;
        width: fit-content;
    }

    &__input{
        height: 100%;
        color: var(--white-text);
        border: var(--transparent-button-border);
        background-color: rgba(255, 255, 255, 0.163);
        padding-left: 20px;
        padding-right: $email-cover-radius-offset;
        border-radius: var(--border-radius);
        outline: none;
    }

    &__button{
        @include abstracts.btn-white;
        height: 100%;
        float: right;
        position: relative;
        left: -$email-cover-radius-offset;
        padding: var(--top-bttom-padding) var(--email-btn-left-right-padding);
    }

    &__input::placeholder {
        color: var(--white-text);
        opacity: 0.8;
    }
}

.map {
    &__img {
        width: 100%;
    }
}

.footer {
    color: var(--small-text-color);
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    line-height: 24px;
    padding-top: 50px;

    &__link {
        font-weight: bold;
    }
}



