.icons-section {
    width: 100vw;

    &__container {
        display: flex;
        justify-content: center;
    }

    &__sticker {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 242px;
        height: 229px;
    }

    &__icon-box {
        width: 110px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}

