@use '../abstracts';
@use './functions' as *;

.nav {

    $logo-margin-top: 53;
    $logo-margin-left: 299;
    $logo-width: 11.125rem;
    $logo-height: 1.5rem;
    $menu-marin-right: 282;
    $menu-margin-top: 57;
    $link-padding-right: 1.5rem;
    $button-height: 2.5rem;

    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap:nowrap;

    &__logo {
        width:  $logo-width;
        height: $logo-height;
        margin-left: #{scaleWidth($logo-margin-left)};
        margin-top: #{scaleHeight($logo-margin-top)};
    }

    &__menu {
        display: flex;
        margin-right: #{scaleWidth($menu-marin-right)};
        margin-top: #{scaleHeight($menu-margin-top)};
    }

    &__list {
        list-style: none;
        display: flex;
        align-items: center;
    }

    &__link {
        padding-right: $link-padding-right;
        text-align: center;
        display: flex;
        color: var(--white-text);
    }

    &__button {
        @include abstracts.btn-transparent;
        align-self: center;
        padding: 0 var(--left-right-navigation-button-padding);
        height: $button-height;
    }
}


@media only screen and (max-width: 1300px) {
    .nav {
        
        $logo-margin-left: 149;
        $menu-marin-right: 141;

        &__logo {
            margin-left: #{scaleWidth($logo-margin-left)};
        }

        &__menu {
            margin-right: #{scaleWidth($menu-marin-right)};
        }    
    }
}

@media only screen and (max-width: 1024px) {
    .nav {

        $hamburger-button-height-width: 2.5rem;
        $nav-bar-height: 3rem;
        $hamburger-margin: calc( ($nav-bar-height - $hamburger-button-height-width) / 2);
        $link-height: 2rem;
        $link-border-height: 0.063rem;
        $number-of-menu-links: 5;
        $menu-display-height: calc($link-height * $number-of-menu-links + $link-border-height);
        $logo-padding: 0.75rem;
        $hamburger-bar-height: 0.15rem;

        background-color: var(--navbar-background-color);
        z-index: 500;
        padding-top: $nav-bar-height;
        position: fixed;
        top: 0;
    
        &__logo {
            position: absolute;
            display: flex;
            height: $nav-bar-height;
            width: fit-content;
            padding: $logo-padding;
            top: 0;
            margin-left: 0;
            margin-top: 0;
        }
    
        &__hamburger-button {
            width: $hamburger-button-height-width;
            height: $hamburger-button-height-width;
            border-radius: 0.4rem;
            background-color: var(--hamburger-background-color);
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            position: absolute;
            top: 0;
            right: 0;
            margin-right: $hamburger-margin;
            margin-top: $hamburger-margin;
            transition: background 0.15s ease-in-out;
        }
    
        &__hamburger-bar {
            width: 60%;
            height: $hamburger-bar-height;
            border-radius: 1rem;
            background-color: var(--white-background);
        }
    
        &__menu {
            display: flex;
            height: 0;
            overflow: hidden;
            margin-top: 0;
            margin-right: 0;
            width: 100vw;
            flex-direction: column;
            border-top: $link-border-height solid var(--white-border);
            transition: height 0.15s ease-in-out;
        } 

        &__list {
            flex-direction: column;
            width: 100vw;
            padding: 0;
        }
    
        &__link {
            width: 100vw;
            height: $link-height;
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: $link-border-height solid var(--white-border);
        }
    
        &__link:hover {
            background-color: var(--menu-link-hover-background);
        }

        &__link:active {
            background-color: var(--menu-link-hover-background);
        }
    
        &__button {
            display: none;   
        }

        //Activated by click with eventlistener in js:
        //activates the hamburger icon
        &__menu-display {
            height: $menu-display-height;        
        }
        //changes hamburger background when clicked:
        &__hamburger-clicked {
            background-color: var(--clicked-hamburger-background);
        }
    }
}