@use '../abstracts';
@use './functions' as *;

:root{
    --logo-left: 18.688;
    --menu-right: 18.938;
}

.nav {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap:nowrap;

    &__logo {

        $logo-margin-top: 53;
        $logo-margin-left: 299;
        $logo-width: 11.125rem;
        $logo-height: 1.5rem;
        
        width:  $logo-width;
        height: $logo-height;
        margin-left: #{scaleWidth($logo-margin-left)};
        margin-top: #{scaleHeight($logo-margin-top)};
    }

    &__menu {

        $menu-marin-right: 282;
        $menu-margin-top: 57;

        display: flex;
        margin-right: #{scaleWidth($menu-marin-right)};
        margin-top: #{scaleHeight($menu-margin-top)};
    }

    &__list {
        list-style: none;
        display: flex;
        align-items: center;
    }

    &__link {
        padding-right: 1.5rem;
        text-align: center;
        display: flex; 
    }

    &__button {

        @include abstracts.btn-transparent;

        align-self: center;
    }
}